@import "less.library.less";

body {
	visibility: visible !important;
}

html,
body {
	height: 100%;
}

html,
body,
.page,
.middle-elements {
	width: 100%;
	margin: 0;
}

body {
	background: url(../img/back.jpg);
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
}

body, .button-transition, input, button, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	border: 0;
	background: @navBackground;
	.fn-border-radius(0px);

	.user-info {
		margin-top: 13px;
	}
	.user-info > div {
		display: inline-block;
	}
	.user-info .user-label {
		color: #777;
	}
	.user-info .signed-in-user {
		margin: 0 5px;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
	}
	.user-info .logout {
		cursor: pointer;
	}

	#newDocumentBtn {
		position: relative;
		font-size: 11px;
		font-weight: bold;
		height: 51px;
		width: 70px;
		.fn-border-radius(0px);
		border: 0;
		background: @newDocBackground;
		color: white;
		margin: 0;
		margin-right: 10px;
		overflow: visible;
	}
	#newDocumentBtn:after {
		content: '';
		position: absolute;
		left: 0;
		top: 100%;
		border-style: solid;
		border-color: @newDocBackground transparent transparent transparent;
		border-width: 10px 35px 0 35px;
	}
	#newDocumentBtn:hover {
		background: @newDocBackgroundHover;
	}
	#newDocumentBtn:hover:after {
		border-color: @newDocBackgroundHover transparent transparent transparent;
	}
	#newDocumentBtn.active:after {
		border-color: @newDocBackgroundHover transparent transparent transparent;
	}
	#newDocumentBtn.active {
		background: @newDocBackgroundHover;
	}
}

#header li {
	span.glyphicon {
		font-size: 1.2em;
	}
	span.name {
		margin-left: 5px;
	}
}

#header li.active{
	> a {
		background: rgba( 66, 139, 202, 0.2 );
		border-bottom: 4px solid @blueFrom;
		padding-bottom: 11px;
	}
}

button,
button:active,
button:focus {
	outline: 0;
}

body, label {
    cursor: default;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #333;
}

ul {
	list-style-type: none;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
	line-height: 1.3;
}

textarea {
	line-height: 1.4;
}

.right {
	float: right;
}

.left {
	float: left;
}

.app-tab {
	display: none;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 70px;
}

.displaynone {
	display: none;
}

.disabled-header {
	pointer-events: none;
}

#newDocumentContainer {
	position: absolute;
	top: 80px;
	right: 5%;
	.fn-box-shadow-spread(0, 0, 20px);

	.fn-default-background();
	padding: 10px;
	width: 500px;
	height: 160px;
	.fn-border-radius( 2px );

	button {
		margin-left: 10px;
	}
}

.data-updated {
	animation-name: pulse;
	-webkit-animation-name: pulse;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;

	/* add hardware acceleration */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(.95);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(.95);
		opacity: .7;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}