@import "less.library.less";

#details {
	overflow: hidden;
	
	.modal-dialog {
		width: 98%;
		height: 98%;
		margin: 10px auto;
	}

	.modal-content {
		height: 100%;
		position: relative;
		border: 0;
	}

	.modal-header {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
		.fn-gradient-background();
		.fn-border-radius( 6px 6px 0 0 );
		color: white;
	}
	.modal-header h4 span {
		font-weight: bold;
	}

	.modal-footer {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		margin-top: 0;
		z-index: 2;
	}

	.modal-body {
		padding: 56px 0 74px 0;
		height: 100%;
	}

	.document-preview,
	.document-data {
		float: left;
		height: 100%;
		position: relative;
	}
	.document-preview {
		width: 50%;
		border-left: 4px solid #ddd;
	}
	.document-preview #docPreviewContainer {
		position: relative;
		height: 70%;
		border-bottom: 4px solid #ddd;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.document-preview #docPreviewContainer img {
		max-width: 100%;
		width: auto;
		margin: 0 auto;
		display: block;
	}
	.document-preview #commentsContainer {
		padding: 10px;
		background: #f8f8f8;
		position: relative;
		height: 30%;
		overflow-y: auto;
		width: 100%;
	}
	.document-preview #commentsContainer h4 {
		margin-top: 0;
	}
	.document-preview #commentsContainer ul {
		padding: 0;
	}
	.document-preview #commentsContainer ul li {
		padding: 5px 0px;
	}
	.document-preview #commentsContainer ul li .comment-author {
		display: inline-block;
		font-weight: bold;
		font-size: 13px;
	}
	.document-preview #commentsContainer ul li .comment-time {
		color: #999;
		font-size: 10px;
		margin-right: 5px;
	}
	.document-preview #commentsContainer textarea {
		width: 120px;
		float: right;

		padding: 5px;
		height: 30px;
		overflow: hidden;
		display: inline;
		resize: none;
		font-size: 13px;
	}
	.document-preview #commentsContainer textarea.active-area {
		height: 40px;
		width: 100%;
		clear: both;
	}
	.document-preview #commentsContainer button {
		margin: 10px 5px 0 0;
	}
	.document-data {
		width: 50%;
		background: #f8f8f8;

		.document-form {
			height: 65%;
			overflow-y: auto;
		}

		form {
			height: 96%;
			width: 100%;
			padding: 2%;
		}

		input[type="text"] {
			display: inline-block;
			height: 30px;
			padding: 4px 6px;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 20px;
			color: #555555;
			vertical-align: middle;
			.fn-border-radius( 4px );
		}
		input.form-control {
			width: 220px;
		}
		input.money-control {
			width: 100px;
		}
		.input-append.date-input {
			display: inline;
			input {
				.fn-border-radius-right( 0 );
				width: 196px;
			}
		}

		label {
			width: 35%;
			font-weight: normal;
		}

		.add-on {
			display: inline-block;
			width: 25px;
			height: 30px;
			min-width: 16px;
			padding: 4px 5px;
			font-size: 14px;
			font-weight: normal;
			line-height: 20px;
			text-align: center;
			text-shadow: 0 1px 0 #ffffff;
			background-color: #eeeeee;
			border: 1px solid #ccc;
			vertical-align: top;

			margin-left: -5px;
			margin-top: -1px;
			.fn-border-radius-right( 4px );
			cursor: pointer;
		}

		.document-workflow-task {
			position: absolute;
			bottom: 0;
			width: 100%;
			border-top: 4px solid #ddd;
		}
		.payment-history {
			height: 35%;
			padding: 2%;
			border-top: 4px solid #ddd;
			overflow-y: auto;
			h4 {
				margin-top: 0;
			}
			table {
				font-size: smaller;
				width: 60%;
			}
			.date {
				width: 25%;
			}
			.amount {
				width: 75%;
				padding-right: 40px;
				font-weight: bold;
			}
		}
	}
}