@import "less.library.less";

#documents {
	.documents-search-tool {
		margin-bottom: 20px;
		position: relative;
		width: 250px;
		input {
			width: 100%;
			padding-right: 30px;
		}
		span {
			position: absolute;
			right: 10px;
			top: 10px;
			color: #777;
		}
	}
	.document-list {
		font-size: small;
		thead th {
			text-align: center;
			cursor: pointer;
		}
		thead th:hover {
			background-color: #e4e4e4;
		}
		thead tr>:first-child {
			.fn-border-radius( 6px 0 0 0 );
		}
		thead tr>:last-child {
			.fn-border-radius( 0 6px 0 0 );
		}
		.paid {
			color: green;
			font-weight: bold;
		}
	}
}