@import "less.library.less";

.card {
	position: relative;
	margin: 0 auto 20px;
	background: #fff;
}
.card {
	width: -webkit-calc(33% - 2px);
	min-width: 300px;
}

.card {
	.card-heading {
		cursor: pointer;
	}
	.doc-info {
		.fn-clearfix;
		height: 30px;
		font-weight: bold;
		float: left;
		width: 100%;
		> div {
			padding: 5px;
			background: rgba(154, 205, 50, 0.5);
			height: 100%;
		}
		.document-id {
			.fn-border-radius-custom( 0, 0, 0, 5px );
		}
		.document-type {
			.fn-border-radius-custom( 0, 0, 5px, 0 );
		}
	}
	.card-content .document-preview {
		width: 100%;
		height: 230px;
		overflow: hidden;
		img {
			width: 100%;
			cursor: pointer;
		}
	}
	.document-paid {
		float: right;
		margin-top: -15px;
		text-transform: uppercase;
		border-bottom: 1px solid green;
		width: 100%;
		text-align: right;
		color: green;
		font-size: 11px;
		font-weight: bold;
	}
	.comments-container {
		padding: 15px;
	}
	.comments-container .comment-content {
		padding: 5px;
		height: 30px;
		width: 100%;
		overflow: hidden;
		display: inline;
		position: relative;
		resize: none;
		font-size: 13px;
	}
	.comments-container .comment-content.active-area {
		height: 40px;
	}
	.comments-container button {
		margin: 10px 5px 0 0;
	}
	.comments-container .comments-list {
		padding: 0;
		max-height: 200px;
		overflow-y: auto;

		.comment-item {
			padding: 5px 0px;
		}
		.comment-item .comment-author {
			display: inline-block;
			font-weight: bold;
			font-size: 13px;
		}
		.comment-item .comment-time {
			color: #999;
			font-size: 10px;
			margin-right: 5px;
		}
	}
}