@green: #31945B;
@orange: #e49307;
@blue: #427fed;
@red: #c0392b;
@yellow: #f1c40f;

@greenSea: #16a085;

@gray: #7f8c8d;

@white: #ffffff;

@navBackground: #e8e8e8;
@navFontColor: #444;
@newDocBackground: #39b3d7;
@newDocBackgroundHover: #47a447;

@blueFrom: #428bca;
@blueTo: #357ebd;

.fn-clearfix {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.fn-topleft ( @t, @l ) {
  position: absolute;
  top: @t;
  left: @l;
}

.fn-hide {
  display: none;
}

.fn-size ( @w, @h) {
  width: @w;
  height: @h;
}

.fn-default-background {
  background: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  background: -webkit-linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  background: -moz-linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  background: -o-linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
}

.fn-gradient-background ( @from: #428bca, @to: #357ebd ) {
  background: linear-gradient(to bottom, @from 0, @to 100%);
  background: -webkit-linear-gradient(to bottom, @from 0, @to 100%);
  background: -moz-linear-gradient(to bottom, @from 0, @to 100%);
  background: -o-linear-gradient(to bottom, @from 0, @to 100%);
}

.fn-box-sizing {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}

.fn-box-sizing-default {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  -ms-box-sizing:content-box;
  -o-box-sizing:content-box;
}


.fn-border-radius ( @br ) {
  -webkit-border-radius: @br;
  -moz-border-radius: @br;
  -ms-border-radius: @br;
  -o-border-radius: @br;
  border-radius: @br;
}

.fn-border-radius-custom ( @br1, @br2, @br3, @br4 ) {
  -webkit-border-radius: @br1 @br2 @br3 @br4;
  -moz-border-radius: @br1 @br2 @br3 @br4;
  -ms-border-radius: @br1 @br2 @br3 @br4;
  -o-border-radius: @br1 @br2 @br3 @br4;
  border-radius: @br1 @br2 @br3 @br4;
}

.fn-border-radius-left ( @br ) {
  -webkit-border-top-left-radius: @br;
  -webkit-border-bottom-left-radius: @br;
  -moz-border-radius-topleft: @br;
  -moz-border-radius-bottomleft: @br;
  border-top-left-radius: @br;
  border-bottom-left-radius: @br;
}

.fn-border-radius-right ( @br ) {
  -webkit-border-top-right-radius: @br;
  -webkit-border-bottom-right-radius: @br;
  -moz-border-radius-topright: @br;
  -moz-border-radius-bottomright: @br;
  border-top-right-radius: @br;
  border-bottom-right-radius: @br;
}

.fn-border-radius-righttop ( @br ) {
  -webkit-border-top-right-radius: @br;
  -moz-border-radius-topright: @br;
  border-top-right-radius: @br;
}

.fn-border-radius-bottomright ( @br, @br2 ) {
  border-bottom-right-radius: @br @br2;
  -webkit-border-bottom-right-radius: @br @br2;
  -moz-border-bottom-right-radius: @br @br2;
  -o-border-bottom-right-radius: @br @br2;
  -ms-border-bottom-right-radius: @br @br2;
}

.fn-box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
}

.fn-inner-shadow (@x: 0, @y: 1px, @blur: 2px, @color: #000) {
  -webkit-box-shadow: inset @x @y @blur @color;
  -moz-box-shadow:    inset @x @y @blur @color;
  box-shadow:         inset @x @y @blur @color;
}

.fn-box-shadow-spread (@x: 0, @y: 0, @blur: 0px, @spread: 0, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
}

.fn-transition ( @property, @duration, @type) {
   transition:@property @duration @type;
   -webkit-transition:@property @duration @type;
   -moz-transition:@property @duration @type;
   -o-transition:@property @duration @type;
   -ms-transition:@property @duration @type;
}

.fn-transition-delay ( @property, @duration, @type, @delay) {
   transition:@property @duration @type @delay;
   -webkit-transition:@property @duration @type @delay;
   -moz-transition:@property @duration @type @delay;
   -o-transition:@property @duration @type @delay;
   -ms-transition:@property @duration @type @delay;
}

.fn-transform-scale ( @scaleX, @scaleY, @x, @y ) {
   transform: scale(@scaleX, @scaleY) translate(@x, @y);
   -webkit-transform: scale(@scaleX, @scaleY) translate(@x, @y);
   -moz-transform: scale(@scaleX, @scaleY) translate(@x, @y);
   -o-transform: scale(@scaleX, @scaleY) translate(@x, @y);
   -ms-transform: scale(@scaleX, @scaleY) translate(@x, @y);
}

.fn-transform-rotate ( @rot ) {
   transform: rotate(@rot) ;
   -webkit-transform: rotate(@rot) ;
   -moz-transform: rotate(@rot) ;
   -o-transform: rotate(@rot) ;
   -ms-transform: rotate(@rot) ;
}

.fn-size-transform ( @x, @y ) {
  transform: scale( @x, @y );
  -webkit-transform: scale( @x, @y );
  -moz-transform: scale( @x, @y );
  -o-transform: scale( @x, @y );
  -ms-transform: scale( @x, @y );
}

.fn-translate-transform  ( @x, @y ) {
  transform: translate( @x, @y );
  -webkit-transform: translate( @x, @y );
  -moz-transform: translate( @x, @y );
  -o-transform: translate( @x, @y );
  -ms-transform: translate( @x, @y );
}

.fn-rotate-scale ( @rot, @x, @y ) {
  transform: rotate(@rot) scale( @x, @y );
  -webkit-transform: rotate(@rot) scale( @x, @y );
  -moz-transform: rotate(@rot) scale( @x, @y );
  -o-transform: rotate(@rot) scale( @x, @y );
  -ms-transform: rotate(@rot) scale( @x, @y );
}

.fn-user-select ( @slct ) {
  -webkit-user-select: @slct;
  -khtml-user-select: @slct;
  -moz-user-select: @slct;
  -o-user-select: @slct;
  -ms-user-select: @slct;
  user-select: @slct;
}

.fn-animation-fadeIn(@t) {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: @t;
  -webkit-animation-duration: @t;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.fn-animation-shake(@t) {
  animation-name: shake;
  -webkit-animation-name: shake;
  animation-duration: @t;
  -webkit-animation-duration: @t;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }
}