@import "less.library.less";

#login {
	background-color: #eee;
	padding: 10px;
	width: 60%;
	.fn-border-radius( 2px );
}

#loginForm {
	margin: 20px auto 0 auto;
	width: 60%;
	.input-field {
		margin-bottom: 5px;
	}
	label {
		width: 70px;
	}
	input {
		display: inline;
		width: 200px;
		height: 30px;
	}
	button {
		margin: 20px 0;
	}
}

#registerForm {
	margin: 20px auto 0 auto;
	width: 85%;
	.input-field {
		margin-bottom: 5px;
	}
	label {
		width: 25%;
	}
	input {
		display: inline;
		width: 70%;
		height: 30px;
	}
}