@import "less.library.less";

#payments {
	.documents-search-tool {
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		width: 250px;
		input {
			width: 100%;
			padding-right: 30px;
		}
		span {
			position: absolute;
			right: 10px;
			top: 10px;
			color: #777;
		}
	}
	.document-list {
		font-size: small;
		thead th {
			text-align: center;
			cursor: pointer;
		}
		thead th:hover {
			background-color: #e4e4e4;
		}
		thead tr>:first-child {
			.fn-border-radius( 6px 0 0 0 );
		}
		thead tr>:last-child {
			.fn-border-radius( 0 6px 0 0 );
		}
	}

	.create-payment {
		margin: 0;
		width: 220px;

		input[type="text"] {
			display: inline-block;
			height: 30px;
			padding: 4px 6px;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 20px;
			color: #555555;
			vertical-align: middle;
			.fn-border-radius( 4px );
		}
		input.money-control {
			width: 100px;
		}
		.input-append.date-input {
			display: inline;
			input {
				.fn-border-radius-right( 0 );
				width: 115px;
			}
		}
		label {
			width: 35%;
			font-weight: normal;
		}
		.add-on {
			display: inline-block;
			width: 25px;
			height: 30px;
			min-width: 16px;
			padding: 4px 5px;
			font-size: 14px;
			font-weight: normal;
			line-height: 20px;
			text-align: center;
			text-shadow: 0 1px 0 #ffffff;
			background-color: #eeeeee;
			border: 1px solid #ccc;
			vertical-align: top;

			margin-left: -5px;
			margin-top: -1px;
			.fn-border-radius-right( 4px );
			cursor: pointer;
		}
	}
}