@import "less.library.less";

.document-type-selector {
	background-color: #e7e7e7;
	.fn-clearfix;
	padding: 5px;

	.btn-doc-type.active {
		font-weight: bold;
	}
}

.document-workflow-task {
	background-color: #e7e7e7;
	padding: 5px;
	.workflow-task  {
		width: 100%;
		.fn-clearfix;
		> div {
			float: left;
		}
		.task-title {
			width: 75%;
			padding-left: 10px;
			.icon {
				width: 15%;
				margin-top: 10px;
				font-size: 1.4em;
			}
			.title {
				float: left;
				width: 85%;
			}
			font-weight: bold;
		}
		.task-actions {
			width: 25%;
		}
	}
}